<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
<p>It is our choices, Harry, that show what we truly are, far more than our abilities.</p>
	    		<ul>
	        		<li><a href="mailto:tokencolour@gmail.com">email</a></li>
	        		<li><a href="https://github.com/tokencolour">github.com/tokencolour</a></li>
				</ul>
			</footer>
		</body>
	</html>
